@font-face {
  font-family: "SF Pro Display";
  src: url("Fonts/SF-Pro-Display-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("Fonts/SF-Pro-Display-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("Fonts/SF-Pro-Display-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Mono";
  src: url("Fonts/SFMono-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Mono";
  src: url("Fonts/SFMono-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Mono";
  src: url("Fonts/SFMono-Bold.otf");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-family: "SF Pro Display";
  -webkit-tap-highlight-color: transparent;
}

#portfolio-grid {
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  grid-auto-flow: dense;
  gap: 16px;
  padding: 16px;
}

html {
  scrollbar-width: none;
  background: #f2f2f2;
}

.title {
  /* margin: 32px; */
  padding: 128px 0;
}

.title>h1 {
  display: flex;
  justify-content: center;
  font-size: 48px;
}

.section {
  margin: 16px;
  background-color: #ffffff;
  border-radius: 64px;
  padding: 32px;
}

.section>h1 {
  font-size: 24px;
}

.section>p {
  margin-top: 16px;
}

[class^="grid-item-"] {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  background: #ffffff;
  border-radius: 48px;
}

:root {
  --gap: 16px;
  --col-count: 2;
  --cell: calc((100vw - (var(--gap) * (var(--col-count) + 1))) / var(--col-count));
}

@media (min-width: 700px) {
  :root {
    --col-count: 4;
  }
}

@media (min-width: 950px) {
  :root {
    --col-count: 6;
  }
}

.grid-item-1-1 {
  width: var(--cell);
  height: var(--cell);
}

.grid-item-1-2 {
  width: var(--cell);
  height: calc(2 * var(--cell) + var(--gap));
}

.grid-item-2-1 {
  width: calc(2 * var(--cell) + var(--gap));
  height: var(--cell);
}

.grid-item-2-2 {
  width: calc(2 * var(--cell) + var(--gap));
  height: calc(2 * var(--cell) + var(--gap));
}

.grid-item-1-1,
.grid-item-1-2 {
  grid-column: span 1;
}

.grid-item-2-1,
.grid-item-2-2 {
  grid-column: span 2;
}

.grid-item-1-1,
.grid-item-2-1 {
  grid-row: span 1;
}

.grid-item-1-2,
.grid-item-2-2 {
  grid-row: span 2;
}

#introduction {
  display: flex;
  align-items: center;
  gap: 32px;
}

#introduction video {
  object-fit: cover;
  border-radius: 32px;
  width: 100%;
  height: auto;
  flex: none;
  display: block;
}

#introduction>*:not(video) {
  flex: 1;
}

#about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

#about-text h1 {
  font-size: 32px;
}

/* make this cleaner, why seperate it lmao, also clean this up pls ty*/
@media (max-width: 699px) {
  #introduction {
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
  }

  #about-text {
    gap: 16px;
  }

  #introduction video {
    /* max-width: 100%;
    width: 100%; */
  }
}




@media (prefers-color-scheme: dark) {
  * {
    color: #ffffff;
  }

  html {
    background: #000000;
  }

  [class^="grid-item-"] {
    background: #1a1a1a;
  }

  .section {
    background-color: #1a1a1a;
  }
}